{
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "overrides": [
    {
      "files": [
        "scripts/*.js"
      ],
      "env": {
        "node": true
      }
    }
  ]
}
