{
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "plugins": [
    "flowtype"
  ],
  "overrides": [
    {
      "files": [
        "scripts/*.js"
      ],
      "env": {
        "node": true
      }
    },
    {
      "files": [
        "__tests__/**/*.js"
      ],
      "extends": [
        "eslint:recommended",
        "plugin:jest/recommended"
      ],
      "env": {
        "jest": true,
        "node": true
      }
    }
  ]
}
